<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="center">
  <div heading-column-lr>
    <h1 big-heading>Sign In</h1>
    <h2 small-heading>Login first to continue</h2>
  </div>
</div>
&nbsp;
<ion-item transparent>
  <img icon-small src="assets/img/user.png"/>
  <ion-input placeholder="Username" type="text"></ion-input>
</ion-item>

<ion-item transparent>
  <img icon-small src="assets/img/lock1.png"/>
  <ion-input placeholder="Password" type="password"></ion-input>
</ion-item>
<ion-label class="forget-password"><span class="link-button" [routerLink]="['/forgot-password']">Forget Password</span>
</ion-label>
&nbsp;
<div linespace></div>
<ion-button type="submit" color="secondary" shape="round" fill="solid" size="large" expand="block">Sign In</ion-button>
<ion-label class="ion-text-center">Don't have Account? <span class="link-button" [routerLink]="['/registration']">Sign Up</span>
</ion-label>
</ion-content>